.menu-wrapper {
  display: grid;
}

@media (width >= 1300px) {
  .menu-wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
}

@media (480px <= width < 755px) {
  .menu-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (755px <= width < 1300px) {
  .menu-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}

@media (max-width: 480px) {
  .menu-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
}
