.header-section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 0 0 auto;
  }
}

@media (900px <= width) {
  .header-section {
    padding: 0px 304px;
    &__wrapper {
      gap: 100px;
    }
    &__text-wrapper {
      max-width: 504px;
    }
    &__title {
      margin-bottom: 12px;
    }
    &__subtitle {
      margin-bottom: 32px;
    }
  }
}

@media (669px <= width < 900px) {
  .header-section {
    &__wrapper {
      overflow: hidden;
    }
    &__text-wrapper {
      max-width: 369px;
      padding-left: 31px;
    }
    &__title {
      white-space: nowrap;
      margin-bottom: 12px;
    }
    &__subtitle {
      margin-bottom: 24px;
    }
    &__image-wrapper {
      min-width: 503px;
      max-width: 503px;
      min-height: 300px;
      position: relative;
      margin-right: -72px;
    }
  }
}

@media (max-width: 669px) {
  .header-section {
    &__wrapper {
      flex-direction: column-reverse;
      gap: 30px;
    }
    &__title {
      margin-bottom: 8px;
    }
    &__subtitle {
      margin-bottom: 16px;
    }
    &__text-wrapper {
      padding: 0 16px;
    }
  }
}
